# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List Popular Languages for Data Science 
- List Commonly used libraries used by Data Scientists
- Evaluating Arithmatic Expressions in Python

#### Some of the popular languages that Data Scientsts use are: 

1. Python
2. R 
3. Julia

#### Some of the commonly used libraries used by Data Scientists include: 
1. Altair
2. Plotly 
3. ipywidgets

| Data Science Tools |
----------------------
| My SQL |
| MongoDB |
| Hadoop File System |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
#This is a sample arithmetic expression to multiply then add integers 
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Carson Parfitt